<div id="<%= dom_id payer %>">
  <p>
    <strong>Dues amount:</strong>
    <%= payer.dues_amount %>
  </p>

  <p>
    <strong>Cope amount:</strong>
    <%= payer.cope_amount %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= payer.name %>
  </p>

  <p>
    <strong>Total wages earned pp:</strong>
    <%= payer.total_wages_earned_pp %>
  </p>

  <p>
    <strong>Hourly rate:</strong>
    <%= payer.hourly_rate %>
  </p>

  <p>
    <strong>Check:</strong>
    <%= payer.check_id %>
  </p>

</div>
