<p style="color: green"><%= notice %></p>

<h1>Payers</h1>

<div class="text-center">
<%= link_to "Click here to download an Excel version", download_csv_your_controller_path, class: "btn btn-primary" %>
</div>


<div id="payers">
  <% @payers.each do |payer| %>
    <%= render payer %>
    <p>
      <%= link_to "Show this payer", payer %>
    </p>
  <% end %>
</div>

<%= link_to "New payer", new_payer_path %>
