<p style="color: green"><%= notice %></p>

<h1>Payers</h1>

<div class="text-center">
<%= link_to "Click here to download an Excel version", download_csv_path, class: "btn btn-primary" %>
</div>
<hr>

<div id="payers">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Rate</th>
        <th>Hours Worked</th>
        <th>Check ID</th>
        <th>Info</th>

        <!-- Add more headers as needed -->
      </tr>
    </thead>
    <tbody>
      <% Payer.all.each do |payer| %>
        <tr>
          <td><%= payer.id %></td>
          <td><%= payer.name %></td>
          <td><%= payer.hourly_rate %></td>
          <td><%= payer.dues_amount %></td>
          <td><%= payer.check_id %></td>
          <td><%= link_to "Show this payer", payer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
