<div id="<%= dom_id check %>">
  <p>
    <strong>Check date:</strong>
    <%= check.check_date %>
  </p>

  <p>
    <strong>Check amount:</strong>
    <%= check.check_amount %>
  </p>

  <p>
    <strong>Infraction count:</strong>
    <%= check.infraction_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= check.user_id %>
  </p>

</div>


